In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Flatfile.csv")

In [3]:
df.dtypes

name                            object
modelDate                        int64
manufacturer                    object
model                           object
color                           object
imageUrl                        object
brand                           object
description                     object
mileageFromOdometer              int64
sku                              int64
vehicleIdentificationNumber     object
offers                          object
itemListElement                float64
dtype: object

In [4]:
df = df.drop(['itemListElement','offers'], axis = 'columns')
#df.head(5)

In [5]:
df['Price'] = df['description'].str[-8:]

In [6]:
#df['name_len'] = df['name'].str.len()

In [8]:
df[['delete1','desc_new', 'delete2']] = df['description'].str.split(pat = 'Used | with', expand = True)
df = df.drop(['delete1','delete2'], axis = 'columns')
#df['desc_new_len'] = df['desc_new'].str.len()
#df['subtract'] = df['desc_new_len'] - df['name_len']
df['Trim'] = df['desc_new']
df['Trim'] = [a.replace(b, '').strip() for a, b in zip(df['desc_new'], df['name'])]  #Most Important code right here!!!

In [10]:
df.head()

,name,modelDate,manufacturer,model,color,imageUrl,brand,description,mileageFromOdometer,sku,vehicleIdentificationNumber,Price,desc_new,Trim
0,2021 Maserati Levante,2021,Maserati,Levante,White,//cdnblob.fastly.carvana.io/2002115999/post-la...,Maserati,Used 2021 Maserati Levante S GranLusso with 19...,19722,2002115999,ZN661YUL5MX363075,"$61,590",2021 Maserati Levante S GranLusso,S GranLusso
1,2019 Jeep Compass,2019,Jeep,Compass,Black,//cdnblob.fastly.carvana.io/2002315866/post-la...,Jeep,Used 2019 Jeep Compass Upland with 21642 miles...,21642,2002315866,3C4NJDAB9KT854078,"$25,990",2019 Jeep Compass Upland,Upland
2,2021 Jeep Gladiator,2021,Jeep,Gladiator,White,//cdnblob.fastly.carvana.io/2002283983/post-la...,Jeep,Used 2021 Jeep Gladiator Mojave 5 ft with 3961...,3961,2002283983,1C6JJTEG2ML593381,"$50,990",2021 Jeep Gladiator Mojave 5 ft,Mojave 5 ft
3,2022 Chevrolet Equinox,2022,Chevrolet,Equinox,White,//cdnblob.fastly.carvana.io/2002276173/post-la...,Chevrolet,Used 2022 Chevrolet Equinox LS with 1207 miles...,1207,2002276173,3GNAXHEV8NS214535,"$28,990",2022 Chevrolet Equinox LS,LS
4,2021 Kia Seltos,2021,Kia,Seltos,Black,//cdnblob.fastly.carvana.io/2002305519/post-la...,Kia,Used 2021 Kia Seltos LX with 19768 miles - $25...,19768,2002305519,KNDEPCAA1M7180158,"$25,990",2021 Kia Seltos LX,LX

In [9]:
df.columns

Index(['name', 'modelDate', 'manufacturer', 'model', 'color', 'imageUrl',
       'brand', 'description', 'mileageFromOdometer', 'sku',
       'vehicleIdentificationNumber', 'Price', 'desc_new', 'Trim'],
      dtype='object')